---
import Layout from "@/layouts/Layout.astro";
import Main from "@/components/Main.astro";
import { SITE_TITLE } from "@/constants";
---

<Layout title={`Page Not Found | ${SITE_TITLE}`}>
  <Main title="404 - Page Not Found">
    <a href="/">
      <p
        class="underline md:no-underline md:hover:underline"
        transition:name="Go Home"
      >
        Go Home
      </p>
    </a>
  </Main>
</Layout>
