---
import Main from "@/components/Main.astro";
import Layout from "@/layouts/Layout.astro";

export const prerender = true;

interface Props {
  error: unknown;
}

const { error } = Astro.props;
---

<Layout title="Unknown Error">
  <Main title={error instanceof Error ? error.message : "500 - Unknown error"}>
    <a href="/">
      <p class="underline md:no-underline md:hover:underline">Go home</p>
    </a>
  </Main>
</Layout>
