---
import Layout from "@/layouts/Layout.astro";
import { getEntry, render } from "astro:content";
import Main from "@/components/Main.astro";

// Prerender to cache video api result
export const prerender = true;
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
const md = await getEntry("pages", "index");
if (!md) throw new Error("no index page found");
const { Content } = await render(md);
---

<Layout title="Home">
  <Main title="Home">
    <div class="prose">
      <Content />
    </div>
  </Main>
</Layout>
