---
import Main from "@/components/Main.astro";
import Layout from "@/layouts/Layout.astro";
import ProjectList from "@/components/ProjectList.astro";
---

<Layout title="Projects">
  <Main title="Projects">
    <ProjectList />
  </Main>
</Layout>
