---
import { type CollectionEntry } from "astro:content";

type Props = {
  tags: CollectionEntry<"blog">["data"]["tags"];
};

const { tags } = Astro.props;
---

<ul class="flex items-center flex-wrap gap-2">
  {
    tags?.map((tag) => (
      <li>
        <a href={`/blog/tags/${tag}`}>
          <div class="text-xs sm:text-sm text-semibold py-1 px-1.5 rounded-full border hover:bg-black/80 hover:text-white/80">
            {tag}
          </div>
        </a>
      </li>
    ))
  }
</ul>
