---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Tags } from "@/pages/blog/tags/tag.config";
import Main from "@/components/Main.astro";

export const prerender = true;

const blogs = await getCollection("blog");

// return a object array with the tag and the number of blogs with that tag

const allTags = blogs
  .map((blog) => blog.data.tags)
  .flat()
  .filter((tag) => tag);
const tags = allTags.map((tag) => ({
  tag,
  count: blogs.filter((blog) => blog.data.tags?.includes(tag as string)).length,
}));
---

<Layout title="Tags">
  <Main title="Blog - Tags">
    <ul class="flex flex-wrap gap-4">
      {
        tags.map(
          (tag) =>
            tag.count > 0 && (
              <li>
                <a
                  href={`/blog/tags/${tag.tag}`}
                  class="hover:underline underline-offset-2"
                >
                  {tag.tag}
                  {tag.count ? ` (${tag.count})` : ""}
                </a>
              </li>
            ),
        )
      }
    </ul>
  </Main>
</Layout>
